body {
  width: 100%;
  margin-top: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

#content {
  font-weight: normal;
  font-family: Verdana, sans-serif;
  margin: 0 80px;
  max-width: 1000px;
}

#content > div {
  margin-bottom:20px;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: gray;
  font-weight: normal;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
} 

table {  
  border-collapse: collapse;
  margin: 20px 60px;
}
td {
  border: 1px solid #dddddd;
  padding: 8px;
  font-size: 14px;
}

ol li::marker {
  font-weight: bold;
}
ol li {
  margin-bottom: 6px;
  font-size: 14px;
}

/* MEDIA */

.media-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-holder .image-label {
  font-style: italic;
  font-size: small;
  width: 400px;
  padding: 20px 60px;
  text-align: center;
}
.media-holder > img.small {
  width: 400px;
}
.media-holder > img.big {
  width: 600px;
}

/* BUTTON */

.big-button {
  width: 100%;
  background-color: #1f77b4;
  padding: 20px;
  margin: 8px 0;
  text-align: center;
  border-radius: 6px;
  color: white;
}
.big-button:hover {
  background-color: #0a5184;
}
.big-button.colour-2 {
  background-color: #9467bd;
}
.big-button.colour-2:hover {
  background-color: #6321a0;
}

/* SUP NOTES */

.sup {
  font-size: 11px;
}

/* PROJECTS BACK BUTTON */

.project_back_holder {
  font-size: 20px;
  position:absolute;
  top: 12px;
  text-align: left;
  padding-left: 32px;
  color: darkgray;
}

.project_back {
  cursor: pointer;
  /* padding:8px; */
}
.project_back .project_ticks {
  padding-left: 8px;
  padding-right: 8px;
}
.project_back:hover {
  color: gray;
}
.project_back:hover .project_ticks {
  font-weight: bold;
  padding-left: 0px;
  padding-right: 24px;
}
