body {
  width: 100%;
  margin: 0;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}
/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

#content {
  width: 100vw;
  min-height: 100vh;/*
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;*/
  overflow: auto;
}

#content > .content_holder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  border: 1px solid #eaeaea;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 26px;
  color: gray;
  font-weight: normal;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
}





/* PROJECTS */

#project_row {
  display:table;
}
#project_row > .project_display {
  display: table-cell;
  cursor: pointer;
}
#project_display {
  transition: height 0.2s, opacity 0.2s linear;
}
.project_display > img {
  cursor: pointer;

  width: 300px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
.project_display > .project_label {
  font-size: 22px;
  font-family: sans-serif;
  color:gray;

  text-align: center;
}
#project_row > .project_display:hover .project_ticks {
  color: #3A85FF;
  font-weight: bold;
  padding-left: 10px;

  transition: padding 0.1s linear
}

.project_content {
  position: relative;
}

.project_content > div {
  display:flex;
  justify-content: center;
}
.project_content > div > .project_summary {
  flex: 2;
}

.project_summary {
  font-size: 20px;
  color: gray;
  min-width:350px;
  font-weight: normal;
  text-align: center;
  padding-right: 40px;
  max-width: 600px;
  color: #555555;
}

.project_background {
  padding: 12px;
  box-sizing: border-box;
}
.project_background > h4 {
  background-color: lightgray;
  margin: 0;
  text-align: center;
  width: 120px;
  border-radius: 16px 16px 0 0;
  padding: 8px;
}

.project_background > div {
  border: 2px solid lightgray;
  border-radius: 0 32px 32px 32px;
  font-size: 18px;
  color:gray;
  padding: 12px;
}
.project_summary > a {
  color: rgb(49, 93, 225);
}
.project_summary > a:hover {
  /* font-weight: bold; */
  color: rgb(0, 39, 157);
}
.project_summary > a:active {
  color: #222222;
}

.project_header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_header > * {
  flex: 1 1 300px;
}

.project_content img {
  box-sizing: border-box;
}

.project_content a > img {
  box-shadow: 0px 0px 10px lightgray;
  max-width: 500px;
  margin: 16px;
  margin-top: 100px;
}
.project_content a > img:hover {
  box-shadow: 0px 0px 25px lightgray;
}

.project_back_holder {
  font-size: 20px;
  position:absolute;
  top: -40px;
  text-align: left;
  padding-left: 32px;
  color: darkgray;
}

.project_back {
  cursor: pointer;
  padding:8px;
}
.project_back .project_ticks {
  padding-left: 8px;
  padding-right: 8px;
}
.project_back:hover {
  color: gray;
}
.project_back:hover .project_ticks {
  font-weight: bold;
  padding-left: 0px;
  padding-right: 24px;

  transition: padding 0.1s linear;
}
